.about .pre-title {
    color: var(--primery-title-color);
    &::before{
        background-color:var(--primery-title-color);
    }

}

.about {
    & .section-title{
    @include font(28px);
    max-width: 330px;
   
    }
    & .after-title {
        @include font(16px, null, 1.62);
        margin-bottom: 20px;
    }
   & .text{
       margin-bottom: 40px;
   }
}