.contacts{

    background-image: url('../../img/contacts-bg-480.png');
    background-color: #191C26;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .section-title{
        @include font(42px, 700, 1.17, 0.05em);
        color: var(--primery-white);
        margin-bottom: 40px;
    }
    
}
.address{
    margin-bottom: 44px;
    @include desktop{
        width: 270px;
        margin-bottom: 70px;
    }
}

.address-list__item + .address-list__item{
    margin-top: 20px;
}
.address-list__item {
@include font(18px, null, 1.67, 0.02em);
color: #9DA4BD;
display: flex;
align-items: center;
}
.address-list__icon{   
    margin-right: 16px;
   &.map {
        @include tablet {
            align-self: flex-start;
            margin-top: 5px;
        }
   }
}
.address-list__link.mail {
    text-decoration: underline;
}
.pre-title.time{
    margin-bottom: 20px;
    color: var(--primery-white);
}
.schedule{
@include font(18px, null, 1.67, 0.02em);
color: #9DA4BD;
}
.address-wrap{
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        display: flex;
    }

    .address {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 330px;
        margin-right: 30px;
        margin-bottom: 0;
    }
    }
}