.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
}

.header__container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo-icon,
.menu-icon{
    fill: var(--primery-white);  
}
.btn-header{
    background-color: transparent;
    border: none;
}

.menu {
    // display: none;
    position: absolute;
    left: 133px;
    top: 0;
    width: 347px;
    

    background-color: var(--primery-white);
    padding-top: 118px;
    padding-left: 50px;
    
    height: 100vh;
    &-container{
        display: flex;
        flex-direction: column;
        
        height: 100%;

    }

}

.btn-header--close{
    position: absolute;
    top: 48px;
    right: 31px;
    fill: var(--primery-title-color);
}

.nav-menu,
.nav-phone {
    display: block;
    @include font(18px, 600, 1.39);
    color: var(--primery-title-color);
    margin-bottom: 64px;
}
.nav-menu__item:not(:last-child){
    margin-bottom: 24px;
}
.nav-menu__item{
    @include tran(color);

    &:hover {
    color: var(--accent-color);
    }
}
.nav-phone{
    margin-bottom: 24px;
    @include tran(color);
    &:hover{
        color: var(--accent-color);
    }
}
.menu .btn{
    margin-bottom: 64px;
}

.nav-social-wrap {
    display: flex;
    &::before {
        @include line(var(--primery-title-color));
        margin-right: 40px;
        margin-top: 10px;
    }
}

.nav-social__item {
    
    @include font(14px, 600, 1.36, 0.2em);
    color: var(--primery-title-color);
    margin-bottom: 24px;

}

