.online {
    .conteiner{
        background-color: #191C26;
    }
    .btn{
        color: var(--primery-white);
        margin: 0 auto;
        
    }
    .section-title{
        @include font(42px, 700, 1.17, 0.05em);
        text-align: center;
        color: var(--primery-white);
        margin-bottom: 44px;
    }
}
.sign-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    textarea{
        
        resize: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
        min-height: 76px;
        width: 100%;
        color: rgba(157, 164, 189, 0.4);
        @include tran(color);
        @include tran(border-color);
        cursor: pointer;
        &::placeholder {
            @include font(11px, 600, 1.37, 0.1em);
            text-transform: uppercase;
            color: inherit;
        }
        &:hover,
        &:focus {
            border-bottom: 1px solid var(--primery-white);
            color: var(--primery-white);
        }
    }
    input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: rgba(157, 164, 189, 0.4);
    padding-bottom: 8px;
    width: 100%;
    @include tran(color);
    @include tran(border-color);
    cursor: pointer;
    &::placeholder{
        @include font(11px, 600, 1.37, 0.1em);
        text-transform: uppercase;
        color: inherit;
    }
    &:hover, &:focus{
        border-bottom: 1px solid var(--primery-white);
        color: var(--primery-white);
    }
    }
   

    label + label {
        margin-top: 44px;
    }
}