.reasons .pre-title {
    color: var(--primery-title-color);

    &::before {
        background-color: var(--primery-title-color);
    }
}
.reasons .section-title{
    font-size: 42px;
    line-height:1.17;
}
.reasons .after-title{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    margin-bottom: 44px;
}

.reasons-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;

    &__item{
        background-color: #F7F7F7;
        display: flex;
        flex-direction: column;
       
        
        padding: 20px 32px;
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
        &:nth-child(2n){
           position: relative;
           top: 30px;
        }
    }
    
    &__text{ 
        
        font-size: 11px;
        line-height: 1.36;
        text-align: center;
        color: var(--primery-title-color);
        
    }
    &__number {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.36;
        
        color: var(--primery-title-color);
        margin-bottom: 6px;
        &::after{
            content: "+";
            color: var(--accent-color);
            font-weight: 600;
            font-size: 16px;
            line-height: 1.38;
            margin-left: 2px;
            margin-top: 5px;
        }

    }
}
.reasons-list__item sup{
    color: var(--accent-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    margin-left: 2px;
}
.reasons .conteiner{
    padding-bottom: 114px;
}