.conteiner {
    padding: 84px 31px;
    max-width: 480px;
    margin: 0 auto;
}

.section-title{
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--primery-title-color);
    margin-bottom: 20px;
}
.pre-title {
    display: flex;
    align-items: center;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: rgba(157, 164, 189, 0.6);

    margin-bottom: 20px;
}

.pre-title::before {
    content: '';
    display: block;
    background-color: rgba(157, 164, 189, 0.6);
    height: 1px;
    width: 60px;
    margin-right: 20px;

}

.btn {

    height: 40px;
    min-width: 194px;

    display: block;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 25px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}