:root {
    --primery-white: #ffffff;
    --primery-title-color: #303030;
    --primery-text-color: #555555;
    --accent-color: #ff6c00;
    
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    
    color: var(--primery-text-color);
    background-color: var(--primery-background-color);
    @include font(14px, null, 1.86, 0.02em);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

picture{
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


button {
    cursor: pointer;
    display: inline-block
}

a {
    text-decoration: none;
    font-style: normal;
    color: var(--main-text-color);
}

